$fontColor: #fff; //fonts
$primaryColor: #19f6e8; //primary for cta, menu border...
$boxColor1: #FF595E;
$boxColor2: #FF924C;
$boxColor3: #FFCA3A;
$boxColor4: #C5CA30;
$boxColor5: #8AC926;
$boxColor6: #36949D;
$boxColor7: #1982C4;
$boxColor8: #4267AC;
$boxColor9: #565AA0;
$boxColor10: #6A4C93;
