* {
    box-sizing: border-box;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(#141e30, #243b55);
    height: 100%;

    span {
        font-size: 0.8em;
        font-style: italic;
    }
}