.savingsSection {
    @include calcSection;

    .savingsForm {
        @include calcForm;

        select {
            padding: 8px 10px;
            margin-left: 5px;
            width: 100px;
            font-weight: bold;
        }
    }
}

.offerButton {
    @include calcBoxes;
    margin: 15px;
    width: 300px;
    height: 80px;
    background-color: $primaryColor;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 1.3em;
    text-shadow: 1px 1px 0 #000;
    i {
        padding-bottom: 10px;
    }

}

.offerButton:hover {
    @include calcBoxes__hover($primaryColor);
    width: 300px;
    height: 80px;
    text-shadow: 1px 1px 0 #000;
    border-radius: 0;
}
