.calculators__section {
    display: flex;
    justify-content: center;
}

.percentSection {
    color: $fontColor;
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 2em;
        padding: 10px 0;
    }

    .percentForm {
        font-size: 1.3em;
        display: flex;
        flex-direction: column;

        label {
            padding: 10px 0;

            input {
                padding: 12px 10px;
                margin-left: 5px;
            }
        }

        p {
            padding: 10px 0;
        }
    }
}
