h1 {
    text-align: center;
    color: $fontColor;
    margin-top: 30px;
    font-size: 2em;
}

.calcSelect__section {
    display: flex;
    justify-content: center;
    margin: 40px 0;

    .calcSelect__section-box {
        @include calcBoxes;
        i {
            display: block;
        }
    }

    .percentBox:hover {
        @include calcBoxes__hover ($boxColor1)
    }

    .discountBox:hover {
        @include calcBoxes__hover ($boxColor5)
    }

    .vatBox:hover {
        @include calcBoxes__hover ($primaryColor)
    }

    .savingsBox:hover {
        @include calcBoxes__hover ($primaryColor)
    }

    .salaryBox:hover {
        @include calcBoxes__hover ($primaryColor)
    }

}